html, body {
  font-size : 32px;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(./images/pattern-curve.svg),url(./images/pattern-bg.svg);
  background-position: left bottom, right center;
  background-repeat: no-repeat;
  position: relative;
  background-size: 50%;
  background-position-y: bottom, 35%;
  background-position-x: left, 100%;

}

#left {
  background-image: url(./images/pattern-quotes.svg);
  background-position: center top;
  background-repeat: no-repeat;


}

.quotes {
  margin-top: 2rem;
  width: 72%;
  margin-left: auto;
  z-index: 1;
  position: relative;
  left: 0%;
  font-weight: 300;
  color: hsl(240, 38%, 20%);
}

.legend {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;

}

.legend__nom {
  display : block;
  font-weight: 700;

}

.legend__title {
  display: block;
  font-weight: 500;
  color: hsl(240, 18%, 77%);
  padding-left: 0.5rem;
}

#photo {
  width: 70vw;
  position: relative;
}

#portrait {
  position: relative;
  right: 15%;
  box-shadow: 0px 10px 20px rgba(186, 186, 207, 0.5);
  z-index: 0;
}

.portrait_buttons {
 background-color: white;
 z-index: 3;
 width: 18%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 position: relative;
 padding: 0.5rem;
 border-radius: 1rem;
 bottom: 40px;
}

#preview{
  display: block;
  margin-left: 0.2rem;
}

#next {
  display: block;
  margin-right: 0.2rem;
}

#preview:hover{
  transition: all .5s ease-in-out;
  transform: scale(1.3);
  cursor: pointer;
}

#next:hover{
  transition: all .5s ease-in-out;
  transform: scale(1.3);
  cursor: pointer;
}

#preview:active{
  transition: all .25s ease-in-out;
  transform: scale(2);
  cursor: pointer;
}

#next:active{
  transition: all .25s ease-in-out;
  transform: scale(2);
  cursor: pointer;
}


.attribution {
  display: none ;
}